*{
  margin:0;
  padding:0;
}

body{
  font-size: 14px;
}

.menu{
  position:fixed;
  width:175px;
  height:100%;
  text-align: center;
  background-color: #BC8F8F;   
    
}

.menu  li{
  list-style-type: none;
  padding: 10px 10px;
  border-bottom : 1px solid black;
  cursor:pointer  ;
  transition : all 0.5s linear;
}
/*
.menu  li:hover{
 background : #0069d4;
}*/
.menu  li a{
  
    color :black;
    font-family:sans-serif;
    text-decoration:none;
    display: block;
    padding: 10px 20px;

    border-radius: 30px 30px 30px 30px;
    
}
.menu li a:hover{
  background :  #D8BFD8;
}
